<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="kakaoship">
	
	    <title>KAKAOSHIP</title>

	    <!-- css -->
	    <link href="/static/css/style.css" rel="stylesheet">
	    
	    <!-- js -->
		<script src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript">			
			$(function(){
				$('.ppc-progress-fill').css('transform','rotate('+ 0 +'deg)');
			});
		</script>
		<script src="/static/js/progress.js"></script>
		<script src="/static/js/upload.js"></script>
	</head>

	<body>
		<!--
		most word : {{jsonMostWordAll|safe}}<br><br>
		most word monthly 1 ago : {{jsonMostWordMonthly_1ago|safe}}<br><br>
		most word monthly 2 ago : {{jsonMostWordMonthly_2ago|safe}}<br><br>
		most word monthly 3 ago : {{jsonMostWordMonthly_3ago|safe}}
		-->
		<header class="bg-dark">
			<h1 class="logo">KAKAOSHIP</h1>
		</header>
		
		<section class="container">
			<div class="holder-wrapper">
				<div id="holder" class="circle" data-percent="0">
					<div class="txt" id="upload-button">
						Click or Drag&Drop<br>
						<input type="file" name="file" id="file">			
					</div>
					<div class="txt-ing-wrapper">
						<div class="txt-ing">
							<span>채팅 분석 중</span>
							<div class="loader"></div>
						</div>
					</div>
					<div class="btn-wrapper"></div>
				</div>
			</div>
		</section>
		
		<footer class="bg-gray">
			<p>2015 © KAKAOSHIP</p>
			<p>업로드한 데이터는 채팅 분석에만 사용되며 별도로 저장하지 않습니다.</p>
		</footer>
	</body>
</html>
